In [1]:

# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import chi2_contingency, ttest_ind

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

# Explorando CSV para línea del tiempo de música electrónica

In [5]:
# cargamos el dataframe correspondiente 
df = pd.read_csv("archivos/discogs_electronic.csv")

display(df.head())

,artist,title,label,country,format,release_date,genre,styles,have,want,num_ratings,average_rating,lowest_price,median_price,highest_price
0,Subterfuge,The Foundation Series Volume One,Visillusion,US,Vinyl,1997,Electronic,"House,Techno,Electro",93,423,31,3.81,$2.00,$39.02,$86.96
1,Titiyo,My Body Says Yes,Arista,UK,Vinyl,1991-04-01,Electronic,House,136,30,11,4.36,$0.43,$1.88,$5.43
2,Mariah Carey,Joy To The World,Columbia,US,Vinyl,1994-11,Electronic,"House,Garage House,Holiday",75,106,5,4.4,$1.99,$16.29,$33.71
3,Rhythmstate,Everybody,Nitebeat,US,Vinyl,1997,Electronic,"House,Breakbeat",22,57,6,4,$2.00,$7.00,$25.00
4,Exposé,"Stop, Listen, Look & Think",Arista,US,Vinyl,1990,Electronic,House,115,19,12,3.83,$0.79,$1.50,$4.34

In [6]:
def exploracion(df):
    df_info = pd.DataFrame()
    df_info["% nulos"] = round(df.isna().sum()/df.shape[0]*100, 2).astype(str)+"%"
    df_info["% no_nulos"] = round(df.notna().sum()/df.shape[0]*100, 2).astype(str)+"%"
    df_info["tipo_dato"] = df.dtypes
    df_info["num_valores_unicos"] = df.nunique()
    print(f"""El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.
Tiene {df.duplicated().sum()} datos duplicados, lo que supone un porcentaje de {round(df.duplicated().sum()/df.shape[0], 2)}% de los datos.
Hay {len(list(df_info[(df_info["% nulos"] != "0.0%")].index))} columnas con datos nulos, y son:
{list(df_info[(df_info["% nulos"] != "0.0%")].index)}
y sin nulos hay {len(list(df_info[(df_info["% nulos"] == "0.0%")].index))} columnas y son:
{list(df_info[(df_info["% nulos"] == "0.0%")].index)}
A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:""")
    display(df_info.head())
    print("Principales estadísticos de las columnas categóricas:")
    display(df.describe(include="O").T)
    print("Principales estadísticos de las columnas numéricas:")
    display(df.describe(exclude="O").T)
    return df_info

exploracion(df)

El DataFrame tiene 34923 filas y 15 columnas.
Tiene 0 datos duplicados, lo que supone un porcentaje de 0.0% de los datos.
Hay 2 columnas con datos nulos, y son:
['country', 'styles']
y sin nulos hay 13 columnas y son:
['artist', 'title', 'label', 'format', 'release_date', 'genre', 'have', 'want', 'num_ratings', 'average_rating', 'lowest_price', 'median_price', 'highest_price']
A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:

        % nulos % no_nulos tipo_dato  num_valores_unicos
artist     0.0%     100.0%    object               18034
title      0.0%     100.0%    object               27329
label      0.0%     100.0%    object                7911
country   3.07%     96.93%    object                  56
format     0.0%     100.0%    object                   7

Principales estadísticos de las columnas categóricas:

                count unique         top   freq
artist          34923  18034     Various   1616
title           34923  27329    Untitled    195
label           34923   7911      Virgin    358
country         33850     56          UK  11229
format          34923      7       Vinyl  31816
release_date    34923   1770        1996   3345
genre           34923      5  Electronic  32214
styles          33461   6367       House   3338
average_rating  34923    256           4   2523
lowest_price    34923   1149       $1.09   2002
median_price    34923   2725       $3.26   1033
highest_price   34923   2849      $10.87    881

Principales estadísticos de las columnas numéricas:

               count        mean         std  min   25%    50%    75%      max
have         34923.0  216.222633  334.549660  0.0  48.5  116.0  254.0  10643.0
want         34923.0  155.975002  266.956669  0.0  28.0   67.0  172.5   7699.0
num_ratings  34923.0   32.956934   55.145888  0.0   6.0   16.0   39.0   1771.0

               % nulos % no_nulos tipo_dato  num_valores_unicos
artist            0.0%     100.0%    object               18034
title             0.0%     100.0%    object               27329
label             0.0%     100.0%    object                7911
country          3.07%     96.93%    object                  56
format            0.0%     100.0%    object                   7
release_date      0.0%     100.0%    object                1770
genre             0.0%     100.0%    object                   5
styles           4.19%     95.81%    object                6367
have              0.0%     100.0%     int64                1652
want              0.0%     100.0%     int64                1427
num_ratings       0.0%     100.0%     int64                 455
average_rating    0.0%     100.0%    object                 256
lowest_price      0.0%     100.0%    object                1149
median_price      0.0%     100.0%    object                2725
highest_price     0.0%     100.0%    object                2849

## Valores unicos de las variables categoricas ✨

In [7]:
# creamos una lista con los nombres de las columnas categoricas 
columnas = df.select_dtypes(include='object').columns.tolist()
print(columnas)
# empezamos a iterar por cada una de las columnas para sacar sus valores únicos y sus frecuencias
for columna in columnas:
    print(f" \n----------- ESTAMOS ANALIZANDO LA COLUMNA: '{columna.upper()}' -----------\n")
    print(f"Sus valores únicos son: {df[columna].unique()}\n")
    print(f"Las frecuencias de los valores únicos de las categorías son: {df[columna].value_counts()} ")

['artist', 'title', 'label', 'country', 'format', 'release_date', 'genre', 'styles', 'average_rating', 'lowest_price', 'median_price', 'highest_price']

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'ARTIST' -----------

Sus valores únicos son: ['Subterfuge' 'Titiyo' 'Mariah Carey' ... "The '06 Style" 'Navigators (2)'
 'Orishas']

Las frecuencias de los valores únicos de las categorías son: artist
Various           1616
Madonna             89
Unknown Artist      64
Moby                58
Underworld          49
                  ...
Control D.C.         1
Ram Science          1
Symbiotic (2)        1
Movie Cops           1
Orishas              1
Name: count, Length: 18034, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'TITLE' -----------

Sus valores únicos son: ['The Foundation Series Volume One' 'My Body Says Yes' 'Joy To The World'
 ... '2030' "That's What I Like (No Cream In My Coffee)" 'A Lo Cubano']

Las frecuencias de los valores únicos de las categorías son: title
Untitled                       195
I Believe                       17
Heaven                          17
EP                              17
Rise                            16
                              ...
Go Further                       1
Energy Flash E.P.                1
Cut That Freestyle Bullshit      1
X5-perience                      1
A Lo Cubano                      1
Name: count, Length: 27329, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'LABEL' -----------

Sus valores únicos son: ['Visillusion' 'Arista' 'Columbia' ... 'International Records (4)'
 'House Shoes Recordings' 'World Deejay Foundation']

Las frecuencias de los valores únicos de las categorías son: label
Virgin                     358
Epic                       328
Columbia                   309
MCA Records                299
Not On Label               284
                          ...
Gem Records (3)              1
Native                       1
Afronation Records           1
In Out (3)                   1
World Deejay Foundation      1
Name: count, Length: 7911, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'COUNTRY' -----------

Sus valores únicos son: ['US' 'UK' nan 'UK & Europe' 'Italy' 'Germany' 'Netherlands' 'Belgium'
 'Europe' 'France' 'Canada' 'Sweden' 'Australia' 'Spain' 'Greece'
 'UK & Germany' 'Japan' 'USA & Europe' 'Benelux' 'Austria'
 'Germany, Austria, & Switzerland' 'Switzerland' 'USA & Canada' 'Norway'
 'Portugal' 'Denmark' 'Finland' 'Scandinavia' 'UK & Ireland' 'UK & France'
 'Iceland' 'Brazil' 'France & Benelux' 'USA, Canada & UK' 'Australasia'
 'Ireland' 'UK, Europe & US' 'South Africa' 'Mexico' 'Czech Republic'
 'Ecuador' 'Argentina' 'Slovenia' 'New Zealand' 'Hong Kong'
 'UK, Europe & Japan' 'Poland' 'Hungary' 'Australia & New Zealand'
 'Luxembourg' 'Germany & Switzerland' 'Colombia' 'South Korea' 'Venezuela'
 'UK & US' 'Singapore' 'New Caledonia']

Las frecuencias de los valores únicos de las categorías son: country
UK                                 11229
US                                  9477
Germany                             3878
Italy                               2714
Netherlands                         1254
Belgium                             1124
France                               896
Europe                               865
Spain                                468
UK & Europe                          349
Canada                               334
Japan                                271
Sweden                               260
Austria                              102
Australia                             87
Switzerland                           87
Greece                                79
Denmark                               46
Portugal                              46
USA & Canada                          32
Finland                               32
UK & Ireland                          29
Germany, Austria, & Switzerland       19
Benelux                               17
Brazil                                15
Ireland                               15
Slovenia                              14
Scandinavia                           12
UK & France                           10
Iceland                                9
Norway                                 8
France & Benelux                       8
USA & Europe                           7
Hong Kong                              7
Australia & New Zealand                6
UK, Europe & US                        5
Poland                                 5
South Africa                           4
Mexico                                 4
Argentina                              4
Venezuela                              3
UK & US                                2
New Zealand                            2
UK & Germany                           2
Czech Republic                         2
UK, Europe & Japan                     1
Ecuador                                1
Hungary                                1
Luxembourg                             1
Germany & Switzerland                  1
Colombia                               1
South Korea                            1
Australasia                            1
USA, Canada & UK                       1
Singapore                              1
New Caledonia                          1
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'FORMAT' -----------

Sus valores únicos son: ['Vinyl' 'Acetate' 'Laserdisc' 'All Media' 'Box Set' 'CDV' 'CD']

Las frecuencias de los valores únicos de las categorías son: format
Vinyl        31816
CD            3075
Laserdisc       21
Acetate          6
Box Set          3
All Media        1
CDV              1
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'RELEASE_DATE' -----------

Sus valores únicos son: ['1997' '1991-04-01' '1994-11' ... '1990-05-21' '1994-03-12' '1992-11-17']

Las frecuencias de los valores únicos de las categorías son: release_date
1996          3345
1997          3113
1998          2923
1995          2912
2000          2809
              ...
1997-09-11       1
1997-04-17       1
1990-05-05       1
1996-10-04       1
1992-11-17       1
Name: count, Length: 1770, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'GENRE' -----------

Sus valores únicos son: ['Electronic' 'Funk / Soul' 'Blues' 'Classical' 'Hip Hop']

Las frecuencias de los valores únicos de las categorías son: genre
Electronic     32214
Hip Hop         2682
Funk / Soul       25
Blues              1
Classical          1
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'STYLES' -----------

Sus valores únicos son: ['House,Techno,Electro' 'House' 'House,Garage House,Holiday' ...
 'Hardcore Hip-Hop,Horrorcore,Boom Bap,Jazzy Hip-Hop'
 'RnB/Swing,Tribal House,Hip Hop' 'Deep House,Hip Hop']

Las frecuencias de los valores únicos de las categorías son: styles
House                                                    3338
Techno                                                   2272
Progressive House                                        1039
Tech House                                                737
Progressive House,House                                   716
                                                         ...
Trance,Electro,Acid House                                   1
House,New Jack Swing,Rhythm & Blues,Electro,Freestyle       1
Abstract,Electro,Indie Rock                                 1
Breakbeat,House,Electro,Downtempo,Soul,Bleep                1
Deep House,Hip Hop                                          1
Name: count, Length: 6367, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'AVERAGE_RATING' -----------

Sus valores únicos son: ['3.81' '4.36' '4.4' '4' '3.83' '4.55' '3.67' '3.93' '5' '3.94' '3' '3.62'
 '4.08' '1' '4.52' '4.61' '4.63' '3.9' '3.6' '4.39' '4.46' '3.63' '4.27'
 '4.44' '3.13' '2.5' '3.73' '4.5' '3.3' '4.03' '3.82' '3.71' '3.45' '--'
 '4.13' '4.17' '4.38' '4.68' '3.57' '4.59' '4.2' '4.11' '4.33' '4.32'
 '4.22' '3.97' '4.53' '3.92' '4.25' '4.14' '3.29' '4.19' '4.67' '4.86'
 '4.26' '4.21' '4.02' '4.24' '3.88' '4.56' '4.12' '3.91' '3.38' '4.37'
 '4.18' '4.31' '4.45' '3.86' '3.95' '4.1' '3.66' '4.91' '2' '3.36' '4.49'
 '4.43' '4.6' '4.41' '4.35' '3.68' '3.64' '3.65' '4.09' '3.1' '4.54'
 '4.75' '3.84' '4.42' '4.29' '4.58' '3.33' '4.57' '3.5' '4.28' '3.75'
 '4.64' '3.8' '4.06' '4.51' '4.15' '3.89' '4.48' '4.23' '3.98' '3.14'
 '4.05' '3.48' '3.7' '4.47' '4.7' '3.55' '3.61' '4.04' '4.62' '4.83'
 '3.59' '2.75' '3.58' '3.35' '4.8' '3.17' '3.96' '4.85' '3.79' '4.3'
 '3.43' '4.74' '4.01' '4.07' '3.25' '4.16' '3.85' '4.95' '4.69' '2.67'
 '3.44' '3.87' '3.22' '3.78' '2.33' '3.46' '1.33' '4.81' '3.27' '1.75'
 '3.4' '4.71' '3.08' '2.9' '3.76' '3.69' '3.19' '3.77' '4.66' '3.2' '4.65'
 '4.92' '3.53' '3.28' '3.47' '1.8' '4.34' '3.06' '3.74' '2.78' '3.54'
 '3.56' '3.72' '3.42' '4.9' '2.44' '4.73' '4.78' '3.34' '4.76' '3.99'
 '4.79' '3.18' '4.84' '3.39' '3.31' '4.77' '4.72' '3.37' '3.04' '3.49'
 '3.23' '2.88' '3.15' '2.6' '2.7' '3.32' '2.83' '3.52' '2.8' '4.89' '3.12'
 '3.07' '1.5' '3.11' '4.82' '3.21' '2.89' '3.41' '2.94' '2.71' '2.25'
 '2.57' '3.09' '2.4' '2.92' '2.86' '3.51' '2.46' '2.56' '1.67' '2.79'
 '3.26' '3.05' '2.63' '2.69' '2.91' '2.2' '3.24' '4.94' '2.74' '2.93'
 '1.25' '2.62' '2.17' '2.85' '2.38' '3.03' '2.82' '3.16' '2.29' '2.34'
 '2.27' '1.83' '2.54' '2.95' '2.11' '4.88' '2.64' '2.42' '2.73' '4.93'
 '4.87' '2.77' '2.59' '2.13' '2.22' '2.96' '2.47' '2.43' '2.58']

Las frecuencias de los valores únicos de las categorías son: average_rating
4       2523
5       1142
--       953
4.5      942
3        903
        ...
2.34       1
2.29       1
2.74       1
1.25       1
2.58       1
Name: count, Length: 256, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'LOWEST_PRICE' -----------

Sus valores únicos son: ['$2.00' '$0.43' '$1.99' ... '$6.98' '$12.70' '$59.99']

Las frecuencias de los valores únicos de las categorías son: lowest_price
$1.09     2002
$0.62     1050
$1.00     1039
$0.54      994
$1.08      821
          ...
$10.40       1
$3.51        1
$6.86        1
$11.83       1
$59.99       1
Name: count, Length: 1149, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'MEDIAN_PRICE' -----------

Sus valores únicos son: ['$39.02' '$1.88' '$16.29' ... '$16.69' '$20.02' '$14.97']

Las frecuencias de los valores únicos de las categorías son: median_price
$3.26     1033
$2.17      866
$2.00      739
$5.43      643
--         633
          ...
$13.64       1
$23.50       1
$18.89       1
$13.54       1
$14.97       1
Name: count, Length: 2725, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'HIGHEST_PRICE' -----------

Sus valores únicos son: ['$86.96' '$5.43' '$33.71' ... '$3.36' '$14.33' '$2.57']

Las frecuencias de los valores únicos de las categorías son: highest_price
$10.87    881
$5.43     860
$6.52     820
--        633
$16.30    632
         ...
$20.53      1
$2.78       1
$58.95      1
$76.90      1
$2.57       1
Name: count, Length: 2849, dtype: int64

## DUPLICADOS

In [8]:
def get_duplicate_rows(df):
    """
    Encuentra y devuelve las filas completas duplicadas de un DataFrame.

    Args:
        df (pd.DataFrame): El DataFrame de entrada.

    Returns:
        pd.DataFrame: Un nuevo DataFrame con las filas duplicadas completas.
    """
    # Identificar duplicados basados en todas las columnas
    duplicate_rows = df[df.duplicated(keep=False)]
    return duplicate_rows

get_duplicate_rows(df)

Empty DataFrame
Columns: [artist, title, label, country, format, release_date, genre, styles, have, want, num_ratings, average_rating, lowest_price, median_price, highest_price]
Index: []

In [7]:
# index=False es útil si solo quieres los datos y no necesitas la columna de índice.
#df.to_csv("archivos/informacion_artista_MOD.csv", index=False)

# Explorando CSV para línea del tiempo de música rock

In [9]:
# cargamos el dataframe correspondiente 
df1 = pd.read_csv("archivos/UltimateClassicRock.csv")

display(df1.head())

,Track,Artist,Album,Year,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity
0,Play A Simple Song,38 Special,38 Special,1977,3:13,4,0.521,0.367,0,-13.866,1,0.0278,0.6920,0.000003,0.1080,0.789,83.412,16
1,Four Wheels,38 Special,38 Special,1977,4:43,4,0.535,0.710,2,-12.287,1,0.0428,0.0100,0.023000,0.0495,0.445,160.361,10
2,Fly Away,38 Special,38 Special,1977,5:13,4,0.563,0.563,2,-10.781,1,0.0263,0.0357,0.001850,0.1400,0.564,106.739,13
3,Tell Everybody,38 Special,38 Special,1977,4:09,4,0.638,0.694,11,-10.206,0,0.0310,0.1610,0.000034,0.0908,0.936,124.962,10
4,Just Wanna Rock & Roll,38 Special,38 Special,1977,5:57,4,0.388,0.701,2,-9.984,1,0.0360,0.0130,0.042200,0.1150,0.769,126.769,11

In [10]:
def exploracion(df):
    df1_info = pd.DataFrame()
    df1_info["% nulos"] = round(df1.isna().sum()/df1.shape[0]*100, 2).astype(str)+"%"
    df1_info["% no_nulos"] = round(df1.notna().sum()/df1.shape[0]*100, 2).astype(str)+"%"
    df1_info["tipo_dato"] = df1.dtypes
    df1_info["num_valores_unicos"] = df1.nunique()
    print(f"""El DataFrame tiene {df1.shape[0]} filas y {df1.shape[1]} columnas.
Tiene {df1.duplicated().sum()} datos duplicados, lo que supone un porcentaje de {round(df1.duplicated().sum()/df1.shape[0], 2)}% de los datos.
Hay {len(list(df1_info[(df1_info["% nulos"] != "0.0%")].index))} columnas con datos nulos, y son:
{list(df1_info[(df1_info["% nulos"] != "0.0%")].index)}
y sin nulos hay {len(list(df1_info[(df1_info["% nulos"] == "0.0%")].index))} columnas y son:
{list(df1_info[(df1_info["% nulos"] == "0.0%")].index)}
A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:""")
    display(df1_info.head())
    print("Principales estadísticos de las columnas categóricas:")
    display(df1.describe(include="O").T)
    print("Principales estadísticos de las columnas numéricas:")
    display(df1.describe(exclude="O").T)
    return df1_info

exploracion(df1)

El DataFrame tiene 14418 filas y 18 columnas.
Tiene 0 datos duplicados, lo que supone un porcentaje de 0.0% de los datos.
Hay 0 columnas con datos nulos, y son:
[]
y sin nulos hay 18 columnas y son:
['Track', 'Artist', 'Album', 'Year', 'Duration', 'Time_Signature', 'Danceability', 'Energy', 'Key', 'Loudness', 'Mode', 'Speechiness', 'Acousticness', 'Instrumentalness', 'Liveness', 'Valence', 'Tempo', 'Popularity']
A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:

         % nulos % no_nulos tipo_dato  num_valores_unicos
Track       0.0%     100.0%    object               13328
Artist      0.0%     100.0%    object                  94
Album       0.0%     100.0%    object                1247
Year        0.0%     100.0%     int64                  63
Duration    0.0%     100.0%    object                 911

Principales estadísticos de las columnas categóricas:

          count unique                 top freq
Track     14418  13328  Start Me Up - Live    8
Artist    14418     94           Bob Dylan  454
Album     14418   1247       Fleetwood Mac   35
Duration  14418    911                4:13  102

Principales estadísticos de las columnas numéricas:

,count,mean,std,min,25%,50%,75%,max
Year,14418.0,1987.634693,15.318819,1962.0,1975.000000,1983.000000,1999.000000,2024.000
Time_Signature,14418.0,3.917811,0.356628,0.0,4.000000,4.000000,4.000000,5.000
Danceability,14418.0,0.503063,0.142619,0.0,0.405000,0.509000,0.603000,0.987
Energy,14418.0,0.656563,0.229607,0.0,0.493000,0.690500,0.854000,0.998
Key,14418.0,5.166597,3.503423,0.0,2.000000,5.000000,9.000000,11.000
Loudness,14418.0,-9.438675,4.179623,-60.0,-11.914250,-8.810500,-6.341500,-0.203
Mode,14418.0,0.730129,0.443908,0.0,0.000000,1.000000,1.000000,1.000
Speechiness,14418.0,0.051354,0.046291,0.0,0.031800,0.039000,0.054300,0.952
Acousticness,14418.0,0.226924,0.268857,0.0,0.013100,0.104000,0.370000,0.995
Instrumentalness,14418.0,0.089682,0.215783,0.0,0.000013,0.000737,0.028375,0.992
Liveness,14418.0,0.210653,0.180537,0.0,0.093800,0.140000,0.278000,1.000
Valence,14418.0,0.528818,0.243557,0.0,0.338000,0.529000,0.724750,0.991
Tempo,14418.0,122.641620,27.940743,0.0,102.196500,121.859000,139.228000,238.895
Popularity,14418.0,25.394438,15.090860,0.0,14.000000,23.000000,34.000000,91.000

                 % nulos % no_nulos tipo_dato  num_valores_unicos
Track               0.0%     100.0%    object               13328
Artist              0.0%     100.0%    object                  94
Album               0.0%     100.0%    object                1247
Year                0.0%     100.0%     int64                  63
Duration            0.0%     100.0%    object                 911
Time_Signature      0.0%     100.0%     int64                   5
Danceability        0.0%     100.0%   float64                 788
Energy              0.0%     100.0%   float64                1075
Key                 0.0%     100.0%     int64                  12
Loudness            0.0%     100.0%   float64                8993
Mode                0.0%     100.0%     int64                   2
Speechiness         0.0%     100.0%   float64                 994
Acousticness        0.0%     100.0%   float64                3396
Instrumentalness    0.0%     100.0%   float64                4393
Liveness            0.0%     100.0%   float64                1525
Valence             0.0%     100.0%   float64                1203
Tempo               0.0%     100.0%   float64               13091
Popularity          0.0%     100.0%     int64                  89

## Valores unicos de las variables categoricas ✨

In [11]:
# creamos una lista con los nombres de las columnas categoricas 
columnas = df1.select_dtypes(include='object').columns.tolist()
print(columnas)
# empezamos a iterar por cada una de las columnas para sacar sus valores únicos y sus frecuencias
for columna in columnas:
    print(f" \n----------- ESTAMOS ANALIZANDO LA COLUMNA: '{columna.upper()}' -----------\n")
    print(f"Sus valores únicos son: {df1[columna].unique()}\n")
    print(f"Las frecuencias de los valores únicos de las categorías son: {df1[columna].value_counts()} ")

['Track', 'Artist', 'Album', 'Duration']

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'TRACK' -----------

Sus valores únicos son: ['Play A Simple Song' 'Four Wheels' 'Fly Away' ... 'Have A Little Mercy'
 "Flyin' High" 'Heartache In Blue']

Las frecuencias de los valores únicos de las categorías son: Track
Start Me Up - Live         8
Tumbling Dice - Live       8
Honky Tonk Women - Live    8
Tonight                    7
Without You                7
                          ..
Four Little Diamonds       1
Rock 'N' Roll Is King      1
Without Someone            1
Sorrow About to Fall       1
Heartache In Blue          1
Name: count, Length: 13328, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'ARTIST' -----------

Sus valores únicos son: ['38 Special' 'ABBA' 'Aerosmith' 'Air Suppy' 'Alice Cooper'
 'Allman Brothers' 'America' 'Bachman-Turner Overdrive' 'Bad Company'
 'Bee Gees' 'Billy Joel' 'Black Sabbath' 'Blondie' 'Blue Oyster Cult'
 'Bob Dylan' 'Bob Seger' 'Bon Jovi' 'Boston' 'Cheap Trick' 'Chicago'
 'Cream' 'Creedence Clearwater Revival' 'Crosby Sitlls Nash Young'
 'David Bowie' 'Deep Purple' 'Def Leppard' 'Dire Straits' 'Don Henley'
 'Duran Duran' 'Eagles' 'Electric Light Orchestra' 'Elton John'
 'Emerson Lake & Palmer' 'Eric Clapton' 'Eurythmics' 'Fleetwood Mac'
 'Foghat' 'Genesis' 'Grand Funk Railroad' 'Heart' 'Huey Lewis' 'INXS'
 'Iron Maiden' 'Janis Joplin' 'Jefferson Airplane' 'Jethro Tull'
 'Joe Walsh' 'John Lennon' 'Journey' 'Judas Priest' 'Kiss' 'Led Zeppelin'
 'Little River Band' 'Lynyrd Skynyrd' 'Meat Loaf' 'Metallica'
 'Moody Blues' 'Motley Crue' 'Nitty Gritty Dirt Band' 'Ozzy Osbourne'
 'Pat Benetar' 'Paul Simon' 'Peter Gabrial' 'Pink Floyd' 'Queen'
 'Queensryche' 'Quiet Riot' 'REO Speed Wagon' 'Robert Plant' 'Rush'
 'Santana' 'Scorpions' 'Simon And Garfunkel' 'Simple Minds' 'Steely Dan'
 'Steppenwolf' 'Steve Miller Band' 'Stevie Nicks' 'Stevie Ray Vaughn'
 'Styx' 'Supertramp' 'The Cars' 'The Doobie Brothers' 'The Doors'
 'The Police' 'The Rolling Stones' 'The Who' 'Three Dog Night'
 'Tina Turner' 'Toto' 'Twisted Sister' 'Van Halen' 'Whitesnake' 'ZZ Top']

Las frecuencias de los valores únicos de las categorías son: Artist
Bob Dylan                   454
Elton John                  361
Chicago                     354
The Rolling Stones          334
Led Zeppelin                320
                           ...
Dire Straits                 51
Bachman-Turner Overdrive     51
Boston                       47
Cream                        41
Crosby Sitlls Nash Young     36
Name: count, Length: 94, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'ALBUM' -----------

Sus valores únicos son: ['38 Special' 'Special Delivery' "Rockin' Into The Night" ... 'X X X'
 'Mescalero' 'La Futura']

Las frecuencias de los valores únicos de las categorías son: Album
Fleetwood Mac                     35
Brave New World                   33
Sparkle In The Rain               30
Savage                            29
Revenge                           28
                                  ..
Hemispheres                        4
Thick as a Brick                   4
A Passion Play (2003 Remaster)     2
Wedding Album                      2
Seven Psalms                       1
Name: count, Length: 1247, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'DURATION' -----------

Sus valores únicos son: ['3:13' '4:43' '5:13' '4:09' '5:57' '5:01' '3:30' '4:56' '4:01' '5:17'
 '4:29' '4:16' '4:23' '2:59' '3:19' '4:18' '4:12' '4:26' '4:55' '3:10'
 '4:44' '4:34' '4:35' '4:40' '3:45' '4:07' '4:02' '5:39' '5:06' '4:10'
 '3:56' '3:33' '4:39' '4:08' '4:32' '3:59' '3:54' '4:11' '3:55' '4:15'
 '3:34' '3:49' '3:39' '3:26' '5:04' '4:31' '4:17' '4:30' '5:42' '4:54'
 '4:21' '5:40' '5:07' '4:49' '4:59' '4:46' '5:24' '5:21' '5:33' '5:12'
 '4:36' '3:29' '4:53' '4:24' '3:44' '5:15' '4:58' '4:57' '4:05' '5:56'
 '5:16' '3:37' '2:52' '5:25' '3:51' '4:00' '2:19' '2:17' '2:33' '3:01'
 '3:03' '3:12' '3:09' '2:44' '2:51' '3:24' '2:54' '3:05' '3:18' '2:50'
 '2:45' '3:40' '3:11' '3:38' '3:47' '2:55' '2:56' '3:14' '2:48' '2:46'
 '3:00' '3:46' '3:15' '3:22' '3:04' '3:02' '4:25' '3:06' '2:53' '3:50'
 '3:20' '4:51' '4:03' '5:50' '3:41' '4:45' '4:52' '3:32' '5:26' '3:16'
 '5:09' '4:20' '4:38' '4:19' '5:48' '5:53' '5:22' '3:48' '3:08' '3:57'
 '3:31' '4:27' '5:02' '7:02' '5:38' '5:54' '4:14' '3:53' '5:44' '5:03'
 '2:15' '5:11' '4:33' '3:42' '4:06' '2:22' '4:13' '4:04' '1:20' '5:35'
 '3:43' '4:42' '4:37' '5:08' '2:20' '6:29' '0:23' '5:58' '6:07' '5:55'
 '3:58' '8:16' '5:00' '4:28' '6:10' '3:25' '3:36' '6:36' '3:35' '3:23'
 '5:31' '5:46' '5:14' '6:43' '6:55' '3:17' '5:20' '2:36' '5:27' '4:22'
 '2:43' '2:21' '2:32' '6:21' '5:05' '6:01' '5:36' '4:50' '7:56' '5:10'
 '4:48' '4:41' '1:19' '1:39' '1:12' '1:17' '2:02' '1:48' '6:54' '2:39'
 '2:16' '2:34' '7:36' '2:01' '6:58' '3:21' '2:28' '8:22' '9:11' '6:33'
 '2:29' '0:53' '5:49' '6:18' '3:52' '2:31' '3:27' '2:08' '2:12' '5:34'
 '2:38' '2:09' '1:36' '2:42' '2:41' '2:25' '2:05' '2:47' '5:18' '2:30'
 '3:07' '7:08' '6:12' '6:38' '3:28' '5:23' '1:15' '5:32' '2:35' '4:47'
 '2:40' '7:19' '7:17' '2:24' '6:59' '8:49' '19:19' '23:09' '13:07' '2:07'
 '33:38' '9:03' '14:27' '1:06' '9:12' '6:45' '17:23' '7:09' '6:06' '7:32'
 '7:00' '6:37' '5:30' '7:57' '8:26' '10:58' '11:35' '15:37' '7:58' '5:41'
 '8:39' '7:52' '5:37' '9:10' '6:14' '5:59' '10:16' '16:05' '6:42' '12:31'
 '27:27' '6:30' '9:20' '12:17' '5:51' '7:23' '9:01' '13:27' '16:42' '8:42'
 '6:03' '12:49' '15:31' '10:12' '7:51' '2:18' '5:19' '1:13' '2:26' '2:27'
 '1:32' '2:58' '2:03' '2:14' '2:37' '2:49' '2:11' '6:19' '7:13' '5:43'
 '1:57' '2:06' '2:00' '2:57' '7:35' '1:49' '1:51' '6:40' '0:30' '5:47'
 '6:17' '6:04' '5:28' '5:45' '7:03' '1:04' '7:46' '11:08' '9:31' '11:26'
 '8:56' '1:30' '14:13' '9:43' '7:54' '0:28' '1:38' '7:47' '6:15' '0:49'
 '8:44' '9:42' '7:06' '6:27' '5:29' '1:58' '0:45' '6:34' '1:08' '6:48'
 '6:11' '8:52' '7:20' '8:06' '7:01' '2:10' '9:59' '6:31' '6:46' '6:57'
 '6:23' '5:52' '6:28' '6:39' '7:10' '6:05' '7:27' '7:18' '6:52' '8:46'
 '1:22' '1:18' '6:00' '1:44' '1:37' '1:47' '6:25' '8:17' '7:04' '7:29'
 '11:21' '6:09' '11:19' '7:31' '2:23' '1:59' '1:35' '1:31' '2:13' '6:02'
 '1:27' '8:51' '2:04' '11:05' '8:32' '8:20' '6:16' '6:32' '7:28' '11:03'
 '6:22' '7:42' '16:31' '7:14' '8:48' '7:41' '1:52' '9:05' '7:25' '7:15'
 '13:54' '16:54' '6:41' '9:34' '7:22' '1:05' '1:24' '9:52' '0:36' '1:40'
 '1:00' '7:37' '1:56' '0:57' '14:36' '6:49' '8:35' '6:35' '1:09' '1:11'
 '1:25' '1:33' '1:14' '1:03' '9:18' '8:15' '10:07' '1:53' '6:26' '0:52'
 '13:28' '6:50' '16:15' '16:46' '6:20' '9:13' '8:34' '7:40' '11:07' '7:11'
 '6:24' '1:45' '9:39' '8:12' '10:17' '7:12' '7:26' '7:45' '9:57' '1:46'
 '12:10' '7:07' '10:20' '6:08' '10:02' '7:05' '7:49' '7:44' '8:08' '14:18'
 '7:59' '8:31' '7:48' '0:51' '0:33' '0:32' '0:54' '0:41' '0:47' '1:23'
 '7:24' '11:18' '8:21' '8:09' '1:28' '1:21' '1:16' '0:39' '11:06' '7:34'
 '6:53' '8:27' '10:51' '7:16' '12:33' '20:44' '20:37' '8:54' '8:10' '9:02'
 '9:09' '8:36' '9:46' '13:21' '18:28' '20:19' '10:25' '8:45' '7:55'
 '10:48' '6:56' '8:19' '1:42' '1:50' '7:43' '8:14' '9:00' '10:29' '7:53'
 '1:41' '23:05' '8:00' '9:30' '11:43' '8:11' '8:04' '10:00' '8:38' '8:50'
 '10:44' '10:27' '10:08' '8:57' '9:41' '8:47' '7:33' '1:10' '1:34' '0:17'
 '0:31' '7:21' '6:13' '13:38' '8:37' '9:54' '11:16' '8:59' '6:44' '8:03'
 '9:21' '9:06' '8:28' '9:22' '9:25' '11:00' '8:40' '18:01' '13:33' '12:39'
 '9:27' '6:47' '10:36' '10:30' '1:29' '9:24' '16:30' '22:40' '21:10'
 '11:50' '21:36' '23:30' '16:39' '8:33' '10:05' '7:50' '0:56' '9:37'
 '1:55' '12:02' '22:44' '24:59' '16:06' '0:04' '0:38' '1:43' '9:29' '1:26'
 '13:29' '04:42' '06:42' '02:12' '04:34' '06:28' '02:46' '08:27' '02:30'
 '04:20' '04:49' '04:19' '06:19' '05:34' '04:46' '04:14' '02:39' '04:17'
 '03:42' '03:11' '03:53' '05:37' '07:24' '02:26' '03:30' '04:57' '04:07'
 '03:32' '08:02' '04:45' '05:51' '07:08' '04:55' '03:40' '04:38' '07:02'
 '07:39' '04:50' '04:31' '04:22' '03:17' '05:29' '03:43' '02:06' '06:34'
 '05:15' '08:47' '03:52' '04:24' '03:38' '04:08' '08:37' '04:04' '04:15'
 '05:39' '05:36' '09:28' '06:25' '04:44' '04:11' '10:31' '02:59' '11:02'
 '10:38' '08:20' '29:18' '10:53' '08:23' '13:52' '06:11' '04:43' '05:16'
 '03:37' '03:56' '03:46' '05:31' '10:34' '05:53' '06:53' '06:10' '03:18'
 '04:13' '03:02' '04:18' '02:38' '05:06' '03:36' '11:38' '18:36' '06:20'
 '04:23' '08:49' '06:39' '03:03' '06:56' '03:04' '05:17' '05:10' '03:21'
 '10:13' '05:14' '02:40' '00:14' '19:24' '04:53' '09:37' '21:01' '09:31'
 '07:23' '05:40' '05:07' '25:25' '03:41' '04:40' '08:01' '03:55' '04:28'
 '08:05' '02:47' '07:10' '02:28' '11:44' '07:52' '05:44' '09:21' '11:10'
 '05:46' '06:40' '07:26' '09:06' '06:43' '05:08' '04:27' '04:29' '04:09'
 '04:59' '02:17' '02:50' '05:11' '05:41' '07:03' '07:45' '05:30' '03:16'
 '11:55' '11:14' '15:01' '06:41' '03:49' '09:19' '01:38' '04:33' '04:25'
 '05:23' '02:27' '05:20' '04:01' '07:17' '03:19' '05:54' '03:34' '08:03'
 '03:39' '05:52' '06:13' '06:54' '02:22' '03:51' '06:29' '06:48' '04:47'
 '10:28' '03:01' '11:09' '9:50' '0:37' '7:39' '10:15' '12:00' '10:19'
 '11:28' '8:53' '9:48' '9:45' '8:18' '8:25' '8:30' '8:24' '0:48' '1:01'
 '0:58' '1:54' '0:43' '0:29' '1:02' '33:02' '9:15' '6:51' '9:40' '11:56'
 '0:59' '12:48' '1:07' '12:58' '23:41' '23:32' '12:27' '13:31' '11:25'
 '17:05' '01:16' '05:43' '01:48' '06:23' '03:44' '01:13' '01:18' '06:32'
 '02:49' '02:48' '01:07' '01:44' '01:49' '04:12' '02:13' '03:22' '02:15'
 '01:15' '03:23' '04:02' '02:14' '05:55' '04:58' '04:56' '02:53' '03:33'
 '03:26' '03:09' '03:31' '03:06' '02:02' '06:26' '03:50' '03:27' '03:13'
 '03:15' '02:29' '03:28' '03:00' '04:16' '03:29' '01:41' '00:57' '01:43'
 '01:05' '02:43' '02:24' '02:42' '01:00' '02:04' '00:56' '01:12' '01:23'
 '01:28' '02:18' '04:35' '05:48' '04:06' '05:21' '03:25' '03:24' '04:21'
 '03:45' '03:57' '05:01' '05:47' '04:37' '06:33' '22:34' '02:34' '05:24'
 '10:39' '0:08' '10:26' '0:55' '10:09' '10:33' '19:57' '12:28' '20:33'
 '10:21' '11:04' '18:04' '9:19' '11:33' '8:05' '12:56' '13:59' '9:55'
 '9:08' '8:07' '7:30' '9:23' '9:16' '9:17' '11:51' '16:24' '0:35' '13:14'
 '0:26' '10:52' '7:38' '10:59' '0:20' '11:13' '10:04' '0:24' '0:12'
 '12:04' '9:49' '0:42' '8:13' '9:51' '0:34']

Las frecuencias de los valores únicos de las categorías son: Duration
4:13     102
4:12      99
4:21      99
4:06      99
4:11      97
        ...
05:46      1
9:09       1
05:44      1
07:52      1
0:34       1
Name: count, Length: 911, dtype: int64

## DUPLICADOS

In [12]:
def get_duplicate_rows(df):
    """
    Encuentra y devuelve las filas completas duplicadas de un DataFrame.

    Args:
        df (pd.DataFrame): El DataFrame de entrada.

    Returns:
        pd.DataFrame: Un nuevo DataFrame con las filas duplicadas completas.
    """
    # Identificar duplicados basados en todas las columnas
    duplicate_rows = df1[df1.duplicated(keep=False)]
    return duplicate_rows

get_duplicate_rows(df1)

Empty DataFrame
Columns: [Track, Artist, Album, Year, Duration, Time_Signature, Danceability, Energy, Key, Loudness, Mode, Speechiness, Acousticness, Instrumentalness, Liveness, Valence, Tempo, Popularity]
Index: []

In [ ]:
# index=False es útil si solo quieres los datos y no necesitas la columna de índice.
#df.to_csv("archivos/informacion_artista_MOD.csv", index=False)